html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.pos {
  position: absolute;
  min-height: 264px;
  width: 172px;
  background-color: rgba(140,140,140,0.1);
  border: 1px solid rgba(20,20,20,0.2);
  border-radius: 15px;
}

.pos._0 { top: 30px; left: 175px; }
.pos._1 { top: 30px; left: 850px; }
.pos._2 { top: 30px; left: 1075px; }
.pos._3 { top: 30px; left: 1300px; }
.pos._4 { top: 30px; left: 1525px; }
.pos._5 { top: 350px; left: 175px; }
.pos._6 { top: 350px; left: 400px; }
.pos._7 { top: 350px; left: 625px; }
.pos._8 { top: 350px; left: 850px; }
.pos._9 { top: 350px; left: 1075px; }
.pos._10 { top: 350px; left: 1300px; }
.pos._11 { top: 350px; left: 1525px; }

.pos img.card {
  width: 175px;
  position: absolute;
  left: -1px;
}

.pos._0 img.card.visible { left: 225px; }
